body {
    margin: 0;
    background-color: lightgray;
    }
  
  #start-btn {
    background-color: transparent;
    border-color: white;
    color: white;
    padding: 20px;
    font-size: 20px;
    display: flex;
    position: relative;
    margin-top:500px;
    border-radius: 10px; 
  }

  #restart-btn {
    background-color: green;
    color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px; 
  }

  #title-startScreen {
    font-size: 30px;
    font-weight: bold;
    color: white;
    line-height: 40px;
    letter-spacing: 6px;
    display: flex;
    position: relative;
    top: -70px;
    
    }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }


  #splash-screen { 
    background-image: url("../images/music-lovers-home.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1600px;
    height:900px; 
    position:relative; /* posicionar elementos internos relativos a la caja */
    border-radius: 20px;
  }

  #splash-screen img {
  
    width: 900px;
    height:700px; 
  }


  #game-box{
    background-color: darkgray;
    width: 1500px;
    height:800px; 
    overflow:hidden; /* prevenir que los elementos visualmente se salgan de la pantalla de juego */
    position:relative; /* posicionar elementos internos relativos a la caja */
    user-select: none; /*evitará que resalten o remarquen los elementos del canvas */
    background-image: url("../images/bg.jpg"); 
    background-position: center;
    background-size: cover;

}


#game-screen, #gameover-screen {
    display: none; /* hace desaparecer los elementos temporalmente en el dom*/
}